@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700&display=swap");

.fl-scrolly-caption {
  display: none;
}

p {
  font-family: "Source Sans 3", sans-serif;
  width: 780px;
}

#test,
#test2 {
  font-weight: bold;
}

/* ::after is what makes the hexagons */
#test::after {
  content: "\2B22";
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #8ab3b5;
  font-family: sans-serif;
  font-size: 1.2em;
  margin-left: 5px;
  cursor: pointer;
}

#test2::after {
  content: "\2B22";
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #458e8f;
  font-family: sans-serif;
  font-size: 1.2em;
  margin-left: 5px;
  cursor: pointer;
}
